<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Le Louvre{% endblock %}</title>
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../materialize-v0.98.2/materialize/css/materialize.min.css" media="screen,projection" />

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    
    <body>
      
        <header>
            <div class="navbar-fixed">
                <nav>
                    <div class="nav-wrapper amber darken-2">
                        <a href="#" class="brand-logo">Le Louvre</a>
                            <ul id="nav-mobile" class="right hide-on-med-and-down">
                                <li><a href="#">Accueil</a></li>
                                <li><a href="#">...</a></li>
                                <li><a href="#">Billetterie</a></li>
                            </ul>
                    </div>
                </nav>
            </div>
        </header>
        
        
        {% block navigation %}{% endblock %}
        {% block selection %}{% endblock %}

        <hr/>
        
        <footer class="page-footer amber darken-2">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Informations</h5>
                <p class="grey-text text-lighten-4">Vous trouverez ci-dessous des informations complémentaires.</p>
                <p><i class="tiny material-icons">phone</i>&nbsp;Tel: 02 35 00 00 00</p>
                <p><i class="tiny material-icons">print</i>&nbsp;Fax: 02 35 00 00 00</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Liens</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">CGV</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Mentions légales</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
                <p>&copy; Copyright 2018 - Le Louvre</p>
            </div>
          </div>
        </footer>
            
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="../materialize-v0.98.2/materialize/js/materialize.min.js"></script>
        
        {% block javascripts %}{% endblock %}
        
    </body>
</html>