{% extends 'base.html.twig' %}

{% block selection %}

<section>
    <h3>1- Choix de la date :</h3>
    <input type="date" />
    <p>
       Cochez le type de journée voulue :<br />
       <input type="checkbox" name="journée" id="journée" /> <label for="journée">Journée</label><br />
       <input type="checkbox" name="demi" id="demi" /> <label for="demi">Demi-journée</label><br />
   </p>
</section>    

{% endblock %}