/* label color nom prenom email */

/*
.input-field label {
    color: #ff8f00 !important;
}
*/

/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid #ff8f00 !important;
    box-shadow: 0 1px 0 0 #ff8f00 !important;
}

.input-field input[type=date]:focus {
    border-bottom: 1px solid #ff8f00 !important;
    box-shadow: 0 1px 0 0 #ff8f00 !important;
}

.input-field input[type=number]:focus {
    border-bottom: 1px solid #ff8f00 !important;
    box-shadow: 0 1px 0 0 #ff8f00 !important;
}

.input-field input[type=email]:focus {
    border-bottom: 1px solid #ff8f00 !important;
    box-shadow: 0 1px 0 0 #ff8f00 !important;
}

.input-field label[type=checkbox]:focus {
    border-bottom: 1px solid #ff8f00 !important;
    box-shadow: 0 1px 0 0 #ff8f00 !important;
}

.input-field input[type=radio]:focus {
    border-bottom: 1px solid #ff8f00 !important;
    box-shadow: 0 1px 0 0 #ff8f00 !important;
}

/* Checkbox color */

.checkbox[type="checkbox"].filled-in:checked + label:after {
    border: 2px solid #ff8f00;
    background-color: #ff8f00;
}

/* Radio color */

[type="radio"]:checked + label::after,
[type="radio"].with-gap:checked + label::after {
    background-color: #ff8f00 !important;
}

[type="radio"]:checked + label::after,
[type="radio"].with-gap:checked + label::before,
[type="radio"].with-gap:checked + label::after {
    border: 2px solid #ff8f00 !important;
}

/* Affichage de selection de la date */

select {
    display: inherit !important;
}

/* Affichage création de compte sur la page connexion */

.account {
    text-align: center;
}

/* Affichage page d'accueil */

.accueil {
    text-align: justify;
}

/* Affichage boutons des langues */

.languages {
    width: auto;
    background-color: grey;
    height: auto;
}

/* Message d'enregistrement en bdd de la commande */

.success {
    color: green;
    text-align: center;
}

/* Message date de commande non valide */

.error {
    color: red;
    text-align: center;
    background-color: #ffcdd2;
}

.banner {
    background-color: #ff8f00 !important;
}

.error_page {
    text-align: center;
}