
        /*Personnnalisation du css materialize sur les form*/

    /* Sup text (exposant)*/


[type="text"]:focus:not([readonly]) + label {
    color: #ff8f00 !important;
}

[type="email"]:focus:not([readonly]) + label {
    color: #ff8f00 !important;
}

[type="password"]:focus:not([readonly]) + label {
    color: #ff8f00 !important;
}

    /* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid #ff8f00 !important;
    box-shadow: 0 1px 0 0 #ff8f00 !important;
    /*color: #ff8f00 !important;*/
}

.input-field input[type=date]:focus {
    border-bottom: 1px solid #ff8f00 !important;
    box-shadow: 0 1px 0 0 #ff8f00 !important;
}

.input-field input[type=number]:focus {
    border-bottom: 1px solid #ff8f00 !important;
    box-shadow: 0 1px 0 0 #ff8f00 !important;
}

.input-field input[type=email]:focus {
    border-bottom: 1px solid #ff8f00 !important;
    box-shadow: 0 1px 0 0 #ff8f00 !important;
}

.input-field label[type=checkbox]:focus {
    border-bottom: 1px solid #ff8f00 !important;
    box-shadow: 0 1px 0 0 #ff8f00 !important;
}

.input-field input[type=radio]:focus {
    border-bottom: 1px solid #ff8f00 !important;
    box-shadow: 0 1px 0 0 #ff8f00 !important;
}

.input-field input[type=password]:focus {
    border-bottom: 1px solid #ff8f00 !important;
    box-shadow: 0 1px 0 0 #ff8f00 !important;
}

/* Checkbox color */

[type="checkbox"].filled-in:checked + label:after {
    border: 2px solid #ff8f00;
    background-color: #ff8f00;
}

/* Radio color */

[type="radio"]:checked + label::after,
[type="radio"].with-gap:checked + label::after {
    background-color: #ff8f00 !important;
}

[type="radio"]:checked + label::after,
[type="radio"].with-gap:checked + label::before,
[type="radio"].with-gap:checked + label::after {
    border: 2px solid #ff8f00 !important;
}

/* Affichage de selection de la date */

select {
    display: inherit !important;
}

.picker__weekday-display {
    background-color: #ff6f00 !important;
}

.picker__day.picker__day--today {
    color: #ff6f00 !important;
}

.picker__day.picker__day--today.picker__day--selected {
    color: #ffffff !important;
}

.picker__date-display {
    background-color: #ff8f00 !important;
}

.picker__day--selected {
    background-color: #ff8f00 !important;
}

.picker__today {
    color: #ff8f00 !important;
}

.picker__close {
    color: #ff8f00 !important;
}

.picker__select--month {
    margin-left: 40px !important;
}

.picker__select--year {
    margin-top: -32px !important;
    margin-left: 150px !important;
}


/* Affichage création de compte sur la page connexion */

.account {
    text-align: center;
}

/* Affichage page d'accueil */

.accueil {
    text-align: justify;
}

/* Affichage confirmation de commande */

#infos {
    text-align: justify;
}

/* Affichage boutons des langues */

.languages {
    width: auto;
    background-color: grey;
    height: auto;
}

/* Message d'enregistrement en bdd de la commande */

.success {
    color: green;
    text-align: center;
}

#successDate {
    color: green;
    text-align: center;
    background-color: #aed581;
}

.successDate {
    color: green;
    text-align: center;
    background-color: #aed581;
}

/* Message date de commande non valide */

.error {
    color: red;
    text-align: center;
    background-color: #ffcdd2;
}

#errorDate {
    color: red;
    text-align: center;
    background-color: #ffcdd2;
}

.errorDate {
    color: red;
    text-align: center;
    background-color: #ffcdd2;
}

.banner {
    /*background-color: #ff8f00 !important;*/
}

#banner {
    width: 100%;
    height: auto;
}

.error_page {
    text-align: center;
}

/* Tunnel d'achat */
.submenu1, .submenu2, .submenu3, .submenu4 {
    text-align: center !important;
}

/* Numérotation du billet visiteur */

.ticketForm {
    margin-top: 10px;
    border-top: black solid 1px;
    padding-top: 10px;
}

    /*Tableau des tarifs*/

sup {
    display: none;
}

#addInfo {
    display: none;
}

    /* Stripe bouton de paiement */

.stripe-button-el {
    background-image: linear-gradient(#ff8f00, grey) !important;
}

.stripe-button-el span {
    background-image: linear-gradient(#ff8f00, #ff4f00) !important;
}

    /*Boutons de sélection*/

#registrationButtonMobile {
    display: none;
}

#loginButtonMobile {
    display: none;
}

#addTicketButtonMobile {
    display: none;
}

#removeTicketButtonMobile {
    display: none;
}

#bookingButtonMobile {
    display: none;
}

#bookingTotalPriceMobile {
    display: none;
}

#paymentMobile {
    display: none;
}

#newBookingMobile {
    display: none;
}

        /*Media queries*/

    /* Fond pour menu hamburger */

.side-nav {
    background-color: #ffb300 !important;
}

.side-nav li > a {
    color: white !important;
}

.languages_hamburger {
    width: auto;
    background-color: grey;
    height: auto;
}

.homeHamburger {
    background-color: #ff8f00 !important;
}

    /*Changement couleur icône side bar hamburger*/

.side-nav li > a > i, .side-nav li > a > [class^="mdi-"], .side-nav li > a li > a > [class*="mdi-"], .side-nav li > a > i.material-icons {
    color: white !important;
}

@media only screen and (max-width: 992px) {
    .side-nav a {
        padding: 0 60px !important;
        margin-left: 7px !important;
    }

    /* Css Bouton formulaire */

    .row .col.offset-s4 {
        margin-left: 25% !important;
    }

    .row .col.offset-s8 {
        margin-left: 38% !important;
    }

    .row .col.offset-s3 {
        margin-left: 10% !important;
        margin-right: 10% !important;
    }

        /*Page d'accueil*/

    #hide {
        display: none;
    }

    #expand {
        width: 83% !important;
    }

        /*Inscription*/

    h1 {
        font-size: 250%;
    }

        /*Tableau des tarifs*/

    sup {
        display: inline;
    }

    #addInfo {
        display: inline;
        text-align: justify;
    }

        /*Vue de la commande*/

    h3 {
        font-size: 250%;
    }

    h4 {
        font-size: 200%;
    }

        /*Nouveaux formats boutons MQ*/

    #registrationButtonWeb {
        display: none;
    }

    #registrationButtonMobile {
        display: grid;
        margin-left: 5%;
        margin-right: 5%;
    }

    #loginButtonWeb {
        display: none;
    }

    #loginButtonMobile {
        display: grid;
        margin-left: 5%;
        margin-right: 5%;
    }

    #addTicketButton {
        display: none;
    }

    #addTicketButtonMobile {
        display: grid;
    }

    #removeTicketButtonWeb {
        display: none;
    }

    #removeTicketButtonMobile {
        display: grid;
        margin-left: 5%;
        margin-right: 5%;
    }

    #bookingButtonWeb {
        display: none;
    }

    #bookingButtonMobile {
        display: grid;
        margin-left: 20%;
        margin-right: 20%;
    }

    #bookingTotalPriceWeb {
        display: none;
    }

    #bookingTotalPriceMobile {
        display: grid;
    }

    #paymentWeb {
        display: none;
    }

    #paymentMobile {
        display: grid;
        margin-left: 20%;
        margin-right: 20%;
    }

    #newBookingWeb {
        display: none;
    }

    #newBookingMobile {
        display: grid;
        margin-left: 20%;
        margin-right: 20%;
    }

}