{% extends 'base.html.twig' %}

{% block navigation %}

    <div class="navbar-fixed">
        <nav class="grey lighten-1">
            <div class="row">
                <div class="col s12">
                    <div class="col s3"><div class="grey submenu1">Sélection</div></div>
                    <div class="col s3"><div class="grey submenu2">Résumé</div></div>
                    <div class="col s3"><div class="grey submenu3">Paiement</div></div>
                    <div class="col s3"><div class="grey submenu4">Validation</div> </div>
                </div>
            </div>
        </nav>
    </div>

{% endblock %}

{% block confirm %}

    <div class="row">
        <div class="col offset-l2 offset-s1 s10">
            <h3>Confirmation de votre commande</h3>
        </div>
    </div>

    <div class="row">
        <div id="infos" class="col offset-l2 l8 offset-m1 m10 offset-s1 s10">
            <p>Paiement accepté et pris en compte par nos services.</p>
            <p>Votre commande a bien été validé par nos services, vous recevrez d'ici quelques minutes dans votre boîte mail, la ou les place(s) que vous avez commandé pécédemment.<br/>
                Merci de votre achat et nous vous souhaitons une bonne visite au sein du Musée du Louvre.<br/></p>
            <p>L' Equipe du Musée du Louvre.</p>
        </div>
    </div>

    <div id="newBookingWeb" class="row">
        <div class="col offset-s8 s4">
            <a class="waves-effect waves-light btn amber darken-2" href="{{ path('selection') }}"><i class="material-icons right">store</i>Commander à nouveau</a>
        </div>
    </div>

    <div id="newBookingMobile">
        {#<div class="col offset-s8 s4">#}
        <a class="waves-effect waves-light btn amber darken-2" href="{{ path('selection') }}">Nouvel achat</a>
        {#</div>#}
    </div>

    <br>

{% endblock %}

{% block logout %}

    <div id="newBookingWeb" class="row">
        <div class="col offset-s8 s4">
            <a class="waves-effect waves-light btn amber darken-2" href="{{ path('selection') }}"><i class="material-icons right">store</i>Commander à nouveau</a>
        </div>
    </div>

    <div id="newBookingMobile">
        {#<div class="col offset-s8 s4">#}
            <a class="waves-effect waves-light btn amber darken-2" href="{{ path('selection') }}">Nouvel achat</a>
        {#</div>#}
    </div>

    <br>

{% endblock %}
