{% extends 'base.html.twig' %}

{% block navigation %}

    <div class="navbar-fixed">
        <nav class="grey lighten-1">
            <div class="row">
                <div class="col s12">
                    <div class="col offset-s1 s2"><i class="material-icons left">chevron_right</i>Sélection</div>
                    <div class="col offset-s1 s2"><i class="material-icons left">chevron_right</i>Résumé de la commande</div>
                    <div class="col offset-s1 s2"><i class="material-icons left">chevron_right</i>Paiement</div>
                    <div class="col offset-s1 s2"><i class="material-icons left">chevron_right</i>Confirmation</div>
                </div>
            </div>
        </nav>
    </div>

{% endblock %}

{% block confirm %}

    <div class="row">
        <div class="col offset-s2">
            <h3>Confirmation de votre commande</h3>
        </div>
    </div>

    <div class="row">
        <div class="col offset-s2">
            <p>Paiement accepté et pris en compte par nos services.</p>
            <p>Votre commande a bien été validé par nos services, vous recevrez d'ici quelques minutes dans votre boîte mail, la ou les place(s) que vous avez commandé pécédemment.<br/>
                Merci de votre achat et nous vous souhaitons une bonne visite au sein du Musée du Louvre.<br/></p>
            <p>L'Equipe du Musée du Louvre.</p>
        </div>
    </div>

{% endblock %}