<img src="{{ asset('img/louvre_bannière.jpg') }}">

<h3>Musée du Louvre</h3>
<h4>Confirmation d'achat de vos billets d'entrée au Musée du Louvre</h4>

{#<p>Bonjour {{ booking.prenom }} {{ booking.nom }}, nous vous confirmons votre achat du {{ booking.date|date('d F Y') }} concernant vos billets d'entrée au Musée du Louvre.#}
{#</p>#}

<p>Vous trouverez ci-dessous vos billets, imprimables ou sur présentation de ce mail auprès de nos agents d'accueil.</p>

<hr/>

<div class="row">
    <h4>Musée du Louvre</h4> - <p>Visite du /</p>
</div>


<p><strong>Nom :</strong></p>
<p><strong>Prénom :</strong></p>
<p><strong>Date de naissance :</strong></p>
<p><strong>Tarif :</strong></p>








